<div id="pricing" class="container" name="pricing">
    <div id="registerwrap">
      <h1 class="centered">КОМНАТЫ В <br> <%= @hotel.name.upcase %></h1>
      </div>
  <br>
    <div class="row">
  <%= render 'rooms' %>
  </div>

</div>
