
<div class="col-lg-8 col-lg-offset-2">
  <div id="registerwrap">
    <h1>Hotels</h1>
  </div>
  <br>
  <br>
  <% @hotels.each do |hotel| %>

  <h2 class="centered"><%= link_to hotel.name.upcase, hotel %></h2>
  <hr>
  <br>

  <%= carousel_for(hotel.image_urls)%>
  <br>
  <hr>

  <h3><%= raw(hotel.description) %></h3>
  <br>
  <hr>
  <br>

  <% end %>
  <br>
</div>



