<% pathh = request.original_url.split('/') %>
<li><%= link_to 'Ру', "http://ru.localhost:3000#{request.env['PATH_INFO']}" %></li> 
<li><%= link_to 'Eng', "http://en.localhost:3000#{request.env['PATH_INFO']}" %></li> 